.form-item {
    --color-form-item-border: var(--color-gray-400);
    --color-form-item-border-focus: var(--color-gray-800);
    --color-form-item-placeholder: var(--color-gray-600);
    --color-form-item-error: var(--color-alert-emergency-background-color);
    --color-form-item-description: var(--color-gray-500);
	margin-bottom: var(--size-spacing-7);
	max-width: 25rem;
	clear: both;
	
}

.form-item__label {
	display: block;
	margin-bottom: var(--size-spacing-1);
	font-weight: 500;
}

.form-item__label--required:after {
	color: var(--color-gray-600);
	margin: var(--size-spacing-4) 0 0 0.2em;
	content: '*';
}
.form-item__textfield {
	border: var(--border-thickness-1) solid var(--color-form-item-border);
	padding: var(--size-spacing-4);
	width: 100%;
	line-height: 1.4;
}

.form-item__textfield::placeholder {
	color: var(--color-form-item-placeholder);
	font-style: italic;
	opacity: 1;
}

.form-item__textfield:focus {
	border-color: var(--color-form-item-border-focus);
}
	
.form-item__textfield--error {
	border-width: var(--border-thickness-2);
	border-color: var(--color-form-item-error);
	padding-right: var(--size-spacing-4);
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3C%21--%21%20Font%20Awesome%20Pro%206.1.1%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%20%28Commercial%20License%29%20Copyright%202022%20Fonticons%2C%20Inc.%20--%3E%3Cpath%20d%3D%22M256%200C114.6%200%200%20114.6%200%20256s114.6%20256%20256%20256s256-114.6%20256-256S397.4%200%20256%200zM256%20464c-114.7%200-208-93.31-208-208S141.3%2048%20256%2048s208%2093.31%20208%20208S370.7%20464%20256%20464zM256%20304c13.25%200%2024-10.75%2024-24v-128C280%20138.8%20269.3%20128%20256%20128S232%20138.8%20232%20152v128C232%20293.3%20242.8%20304%20256%20304zM256%20337.1c-17.36%200-31.44%2014.08-31.44%2031.44C224.6%20385.9%20238.6%20400%20256%20400s31.44-14.08%2031.44-31.44C287.4%20351.2%20273.4%20337.1%20256%20337.1z%22%2F%3E%3C%2Fsvg%3E'");
	
}

.form-item__textfield--error:focus {
	border-color: var(--color-form-item-error);
      }

.form-item__description {
	font: var(--font-style-body-xs);
	color: var(--color-form-item-description);
	padding-block-start: var(--size-spacing-2);
}

.form-item__error-text {
	font: var(--font-style-body-s-condensed);
	color: var(--color-form-item-error);
}

.form-item__textfield--error + .form-item__error_icon__icon {
  position: absolute;
  margin-top: -41px;
  margin-left: 97cqb;
  fill: var(--color-alert-emergency-background-color);
  width: 1.7rem;
  height: 1.7rem;
  display: inline;
}
