.form-item {
    --color-form-item-border: var(--color-gray-400);
    --color-form-item-border-focus: var(--color-gray-800);
    --color-form-item-placeholder: var(--color-gray-600);
    --color-form-item-error: var(--color-alert-emergency-background-color);
    --color-form-item-description: var(--color-gray-500);
	margin-bottom: var(--size-spacing-7);
	max-width: 25rem;
	clear: both;
	
}

.form-item__label {
	display: block;
	margin-bottom: var(--size-spacing-1);
	font-weight: 500;
}

.form-item__label--required:after {
	color: var(--color-gray-600);
	margin: var(--size-spacing-4) 0 0 0.2em;
	content: '*';
}
.form-item__textfield {
	border: var(--border-thickness-1) solid var(--color-form-item-border);
	padding: var(--size-spacing-4);
	width: 100%;
	line-height: 1.4;
}

.form-item__textfield::placeholder {
	color: var(--color-form-item-placeholder);
	font-style: italic;
	opacity: 1;
}

.form-item__textfield:focus {
	border-color: var(--color-form-item-border-focus);
}
	
.form-item__textfield--error {
	border-width: var(--border-thickness-2);
	border-color: var(--color-form-item-error);
	padding-right: var(--size-spacing-4);
}

.form-item__textfield--error:focus {
	border-color: var(--color-form-item-error);
      }

.form-item__description {
	font: var(--font-style-body-xs);
	color: var(--color-form-item-description);
	padding-block-start: var(--size-spacing-2);
}

.form-item__error-text {
	font: var(--font-style-body-s-condensed);
	color: var(--color-form-item-error);
}

.form-item__textfield--error + .form-item__error_icon__icon {
  position: absolute;
  margin-top: -41px;
  margin-left: 97cqb;
  fill: var(--color-alert-emergency-background-color);
  width: 1.7rem;
  height: 1.7rem;
  display: inline;
}
