.link {
	color: var(--color-link-base);
	fill: var(--color-link-base);
	text-decoration: underline;
	font-weight: var(--font-weights-mallory-book);
	text-decoration-thickness: 0.1em;
	line-height: normal;	
	
}

.link:hover { 
	text-decoration: none;

}

.link--external {

}
